#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: #f2f2f2;
  padding: 10px;
}

h1.sidebar_title {
  font-family: Lato, Arial, Tahoma;
  font-size: 20pt;
  color: #8e8e8e;
  text-align: center;
  text-transform: uppercase;
}

h2.sidebar_title {
  font-family: Lato, Arial, Tahoma;
  font-size: 16pt;
  color: #f8f8f8;
  text-align: center;
  text-transform: uppercase;

  margin: 0px;
  padding: 10px;
}

.sidebar_item {
  border: solid;
  border-width: 1px;
  box-shadow: 2px 2px 5px #aaaaaa;
}

.sidebar_item_head {
  padding: 10px;
  background-color: #50b649;
  box-shadow: 2px 2px 5px #aaaaaa;
}

.sidebar_subitem_contaier {
  margin: 10px;
}

.sidebar_subitem {
  padding:3px 5px 3px 5px;

  border-bottom: solid;
  /*border-left: solid;
  border-right: solid;*/
  border-width: 1px;
  border-color: #aaaaaa;

  text-align: center;
  text-transform: uppercase;
}


.sidebar_subitem_text {
  font-family: Lato, Arial, Tahoma;
  font-size: 12pt;
  color: #8e8e8e;

  margin: 0px;
  padding: 0px;
}