#sidebar {
  position: absolute;
  top:  60px;
  bottom: 0px;
  left: 0; /*TODO:set to -400px*/
  width: 400px;
  background-color: #f2f2f2;
  padding: 10px;
  overflow: auto;
  h1 {
    font-size: 20pt;
    color: #8e8e8e;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .close {
    cursor: pointer;
    float: right;
  }

  .item {
    border: solid;
    border-width: 1px;
    box-shadow: 2px 2px 5px #aaaaaa;
    margin-bottom: 20px;
  
    .item-head {
      padding: 10px;
      background-color: #50b649;
      box-shadow: 2px 2px 5px #aaaaaa;

      h2 {
        font-size: 16pt;
        color: #f8f8f8;
        text-align: center;
        text-transform: uppercase;

        margin: 0;
        padding: 10px;
      }
    }
    
    .item-list {
      margin: 10px;
     
      div {
        position: relative;

        padding:3px 5px;

        border-bottom: solid;
        border-width: 1px;
        border-color: #aaaaaa;

        text-transform: uppercase;

        span {
          font-size: 12pt;
          color: #8e8e8e;
        }

        .data {
          float: right;
        }

        &:last-child {
          border: 0;
        }
      }
    }
  
    .item-range-select {
      text-align: center;
      
      a {
        border-right: 1px solid #aaa;
        margin-right: 5px;
        padding-right: 5px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        &:last-child {
          border: 0;
        }
      }
    }
  }
}




.loader {
  position: relative;
  height: 75px;
}

.animate {
  animation-duration:0.75s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.animate-in {
  animation-name: animateInKey;
}

.animate-out {
  animation-name: animateOutKey;
}

@keyframes animateInKey {
  0% {
    left: -400px;
  }
  100% {
    left: 0;
  }
}

@keyframes animateOutKey {
  0% {
    left: 0;
  }
  100% {
    left: -400px;
  }
}
