#topbar {
  height: 60px;
  width: 100%;
  background-color: #50b649;
  position: fixed;
  top: 0;
  z-index: 2;
  overflow: auto;
}

#icon {
  height: 60px;
  width: 60px;
  float: left;
}

#topbar-title {
  font-size: 42.85px;
  color:  #f8f8f8;
  float: left;
}

#location {
  font-size: 42.85px;
  color:  #f8f8f8;
  width: auto;
  min-width: 500px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.active-view {
  background-color: #f8f8f8;
  color: #50b649;
}

.controller {
  float: right;
  background-color: #50b649;
  border: none;
  color: #f8f8f8;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 42.85px;
  width: 80px;
  padding: 0 5px 0 5px;
  margin: 0;
}

