body {
	margin: 0;
}

#map {
	height: 100vh;
	width: 100%;
}

#sidebar {
	position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    background: white;
    height: 100vh;
    padding: 10px;
    display: none;
}

#data ul li i {
	font-size: .7em;
    float: right;
}
